@tailwind base;
@tailwind components;
@tailwind utilities;


.header-one{
  font-size:1rem;
  
  color: #fff;
  
  
}



.ag-theme-alpine {
    --ag-header-height: 30px;
    --ag-header-foreground-color: white;
    --ag-header-background-color: black;
    --ag-header-cell-hover-background-color: rgb(80, 40, 140);
    --ag-header-cell-moving-background-color: rgb(80, 40, 140);
}
.ag-theme-alpine .ag-header {
    background-color: #0070f3;
      border: none;
    /* then add back a border between rows */
    --ag-borders-row: dashed 1px;
    --ag-row-border-color: rgb(150, 150, 200);
    
}